<div class="" data-ng-repeat="post in vm.Posts | filter: vm.filter_on | orderBy: vm.sort_on : vm.is_descending">
Post Show Page

{{post.title}}
{{post.img}}
{{post.content}}
{{post.author}}
{{post.created_at}}
</div>
