<h2>
  <strong>State:</strong>
  <%= @state.state_id %>
</h2>

<p>
  <tr data-ng-repeat="measure_id in ">
</p>


<table>
  <thead>
    <tr>
      <th>Current Abortion Laws</th>
      <th>Pending Legislation</th>
      <th>State Ranking</th>
    </tr>
  </thead>
    <tbody>
      <tr>
    </tbody>

  <%= @state.measure_name %>





<%= link_to 'Back', states_path %>
