<div class="" data-ng-repeat="post in vm.Posts | filter: vm.filter_on | orderBy: vm.sort_on : vm.is_descending">
Post Show Page

{{Post.title}}
{{Post.img}}
{{Post.content}}
{{Post.author}}
{{Post.created_at}}
</div>
