/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

 .state{
 		fill: none;

 		stroke: #FFF;
 		stroke-width: 1;
 	}

  .state:hover{
    fill-opacity:0.5;
  }
  #tooltip {
		position: absolute;
		text-align: center;
		padding: 20px;
		margin: 10px;
		font: 12px sans-serif;
		background: lightsteelblue;
		border: 1px;
		border-radius: 2px;
		pointer-events: none;
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}

  h2{
    padding-top: 50px;
    text-align: center;
  }
  #statesvg{
    margin: 0px auto;
  }

  .collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  .collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
  }

  .collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }

  .collection .collection-item.avatar .title {
    font-size: 16px;
  }

  .collection .collection-item.avatar p {
    margin: 0;
  }

  .collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .collection .collection-item:last-child {
    border-bottom: none;
  }

  .collection .collection-item.active {
    background-color: #26a69a;
    color: #eafaf9;
  }

  .collection .collection-item.active .secondary-content {
    color: #fff;
  }

  .collection a.collection-item {
    display: block;
    transition: .25s;
    color: #26a69a;
  }

  .collection a.collection-item:not(.active):hover {
    background-color: #ddd;
  }

  .collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
  }

  .collection.with-header .collection-item {
    padding-left: 30px;
  }

  .collection.with-header .collection-item.avatar {
    padding-left: 72px;
  }

  .secondary-content {
    float: right;
    color: #26a69a;
  }

  .circle {
    border-radius: 50%;
  }

  /* This is needed for some mobile phones to display the Google Icon font properly */
  .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }
