<h2>Add your destination</h2>
 <fieldset class="input-group">
   <input type="text" class="form-control" data-ng-model="post.author" id="author" />
   <label for="author">Author</label>
 </fieldset>
 <fieldset class="input-group">
   <input type="text" class="form-control" data-ng-model="post.title" id="title" />
   <label for="title">Title</label>
 </fieldset>
 <fieldset class="input-group">
   <textarea class="form-control" data-ng-model="post.content" id="content"></textarea>
   <label for="content">Content</label>
 </fieldset>
 <button type="button" class="btn btn-primary btn-block" data-ng-click="create()">Submit</button>
 <div data-ng-if="post.id">
    <button type="button" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
