<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script src="/states/US.js"></script>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="page-title">NARAL State Grade: {{stateShowVM.state.grade}}</h4>
    </div>
    <h1 class="centered">{{stateShowVM.state.name}}</h2>
      <div id="tooltip"></div><!-- svg to hold the map. -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src=> </script>
      <div class="stateid">
        <div class="panel-body panel-primary">
          <h4>Current State Policies:</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-if="stateShowVM.state.waiting_period != 0">
              <p><span class=text-danger>★</span> {{stateShowVM.state.waiting_period}}</p>
            </li>
            <li class="list-group-item" ng-if="stateShowVM.state.counseling != 0">
              <p><span class=text-danger>★</span> {{stateShowVM.state.counseling}}</p>
            </li>
            <li class="list-group-item" ng-if="stateShowVM.state.two_trips != 0">
              <p><span class=text-danger>★</span> {{stateShowVM.state.two_trips}}</p>
            </li>
            <li class="list-group-item" ng-if="stateShowVM.state.save_self != 0">
              <p><span class=text-success>★</span> {{stateShowVM.state.save_self}}</p>
            </li>
            <li class="list-group-item" ng-if="stateShowVM.state.state_restrict !=0">
              <p><span class=text-warning>★</span> {{stateShowVM.state.state_restrict}}</p>
            </li>
            <li class="list-group-item" ng-if="stateShowVM.state.roe_repeal != 0">
              <p><span class=text-warning>★</span> {{stateShowVM.state.roe_repeal}}</p>
            </li>
          </ul>
          <h4>Stats:</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <p>★ Number of abortion providers: {{stateShowVM.state.abrtn_providers}}</p>
            </li>
            <li class="list-group-item">
              <p>★ Change in the number of abortion providers since 2010: {{stateShowVM.state.providers_change}}</p>
            </li>
            <li class="list-group-item">
              <p>★ Percentage change in the number of abortion providers since 2010: {{stateShowVM.state.percent_change_clinics}}%</p>
            </li>
            <li class="list-group-item">
              <p>★ Percentage of counties without a known abortion provider: {{stateShowVM.state.percent_counties_noclinic}}%</p>
            </li>
          </ul>
        </div>
        <a class="panel-heading btn btn-primary btn-lg" data-ui-sref="index">< Back</a>
        <svg width="960" height="800" id="statesvg"></svg>
      </div>
    </div>
  </div>
